/* info_box */

/* css */

.green__info_group {
    position: relative;
}

.green__info_mask {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    /* 確保mask會占滿整個版面 */
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.green__info_mask.active {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.green__info_box {
    width: 20%;
    opacity: 0;
    position: absolute;
    margin: auto;

    display: flex;
    justify-content: center;
}

.green__info_box.active {
    opacity: 1;
}

.green__info_box img {
    width: 100%;
}

.green__info_box button {
    width: 30%;
    height: 10%;
    background-image: url(../../02-圖片/安心保證/安心保證小卡-按鈕.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    border: 2px solid white;
    position: absolute;
    bottom: 25px;
}

.green_btn{
    z-index: 4;
    display: none;
}

.green_btn.active{
    display: block;
}







/* 1366以下，間距變窄 */

@media(max-width:1366px) {
    .green_icon {
        margin-bottom: 12px;
    }
}

/* 1280以下，圓變小，間距變窄 */

@media(max-width:1280px) {
    .green_icon, .green_icon_img, .green_icon_img img, .green_check span {
        width: 180px;
        height: 180px;
    }
    .green_icon_img, .green_icon_img img {
        top: calc(50% - 90px);
        left: calc(50% - 90px);
    }
    .green_icon {
        margin-bottom: 18px;
    }

    .green__info_box {
        width: 30%;}
}

/* 500以下，2圓1行，圓變小 */

@media(max-width:500px) {
    .green_icons {
        width: 42%;
    }
    .green_icon_top {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .green_icon, .green_icon_img, .green_icon_img img, .green_check span {
        width: 120px;
        height: 120px;
    }
    .green_icon_img, .green_icon_img img {
        top: calc(50% - 60px);
        left: calc(50% - 60px);
    }
    .green_icon {
        margin-bottom: 10px;
    }
    .green_icon_bottom {
        margin-top: 0px;
    }
    .green_text h5 {
        font-size: 18px;
    }
    .pb-4 {
        padding-bottom: 0rem !important;
    }
    /* 勾勾 */
    .green_check {
        top: calc(50% - 60px);
    }
    .green_check span::before {
        height: 12px;
        top: 52%;
        left: 30%;
    }
    .green_check span::after {
        height: 12px;
        top: 75%;
        left: 39%;
    }
    .green_check.active span {
        transform: scale(1.1);
    }
    .green_check:hover span::after {
        width: 70px;
    }
    .green_check:hover span::before {
        width: 37px;
    }
    .green_check.active span::after {
        width: 70px;
    }
    .green_check.active span::before {
        width: 37px;
    }

    /* 彈跳視窗 */

    .green__info_box {
        width: 65%;
    }

    .green__info_box button {
        width: 40%;
    }
}

/* 375以下，2圓1行，圓變小 */

@media(max-width:375px) {
    .green_icon, .green_icon_img, .green_icon_img img, .green_check span {
        width: 90px;
        height: 90px;
    }
    .green_icon_img, .green_icon_img img {
        top: calc(50% - 45px);
        left: calc(50% - 45px);
    }
    .green_text {
        height: 40px;
    }
    .green_all {
        position: absolute;
        top: 40px;
    }
    /* 勾勾 */
    .green_check {
        top: calc(50% - 45px);
    }
    .green_check span::before {
        height: 10px;
        top: 52%;
        left: 30%;
    }
    .green_check span::after {
        height: 10px;
        top: 75%;
        left: 39%;
    }
    .green_check.active span {
        transform: scale(1.1);
    }
    .green_check:hover span::after {
        width: 52px;
    }
    .green_check:hover span::before {
        width: 30px;
    }
    .green_check.active span::after {
        width: 52px;
    }
    .green_check.active span::before {
        width: 30px;
    }
}

